.download-body{
    /* background-image: url('../assest/workinprogress.png'); */
    /* background-size: cover; */
    height: 100vh;
    z-index: 1;
}

.animated-design{
    width: 100%;
    height: 100%;
}